---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
---
<Layout title="New Post - My Blog">
	<Container>
    <h1 class="text-2xl font-bold mb-6">New Post</h1>
  </Container>
</Layout>