---
import Container from './Container.astro';
---
<footer class="mt-20">
  <Container class="p-6">
    <p class="text-center text-slate-500">
      Built with <a class="underline font-medium text-inherit" href="https://astro.build/">Astro</a> by <a class="underline font-medium text-inherit" href="https://twitter.com/colbyfayock">Colby Fayock</a>
    </p>
  </Container>
</footer>